
<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="/css/material_icons.css" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" href="/css/app.css">
<!--    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>-->

    <script src="/js/vue.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>AIXM Graph</title>
  </head>

  <body>
<!--      Header, top navbar-->
    <header>
      <div id="nav">

    <!--      Upload AIXM Modal-->
        <div id="modal1" class="modal ">
          <div class="modal-content">
            <div class="row">
              <div class="col s12">
                <h5>Upload AIXM</h5>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <form action="#">
                  <div class="file-field input-field">
                    <div class="btn">
                      <span>File</span>
                      <input type="file" ref="fileInput" >
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path process" type="text">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a class="modal-close waves-effect waves-green btn" v-on:click="uploadFile()" type="submit">Upload & process</a>
          </div>
        </div>

        <ul id="dropdown-aixm-files" class="dropdown-content">

          <file-item-dropdown  v-for="file in files"
            v-bind:file="file"
            v-bind:key="file.filename"
            v-on:click.native="loadFile(file)">
          </file-item-dropdown>

        </ul>
        <nav class="nav  blue lighten-1">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo">AIXM Graph </a>
            <ul class="right hide-on-med-and-down">
              <li><a class="dropdown-trigger" href="#!" data-target="dropdown-aixm-files">AIXM Files<i class="material-icons right">arrow_drop_down</i></a></li>
              <li><a class="btn red lighten-2 modal-trigger" href="#modal1" title="Upload AIXM file"><i class="material-icons left">cloud_upload</i>Upload</a></li>

            </ul>
          </div>
        </nav>

      </div>
        <!-- Page Layout here -->
      <div class="row" id="side-nav">

<!--        Sidenav -->
        <ul id="slide-out" class="sidenav sidenav-fixed" ref="sidenavList">
          <li class="hide" ref="progress">
          </li>
          <li ref="progressBar" class="hide">
            <div class="progress"><div class="indeterminate"></div></div>
          </li>
          <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
              <li>
                <a class="collapsible-header">AIXM: {{ filename }}<i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                  <ul>
                  <li>
                    <a href="" target="_blank" ref="skeleton">
                      <i class="material-icons">cloud_off</i>
                      Skeleton not available
                    </a>
                  </li>
                  <li><div class="divider"></div></li>
                  </ul>
                </div>
              </li>
            </ul>
          </li>
          <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
              <li>
                <a class="collapsible-header" ref="featuresTitle">No features yet...<i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                  <ul>
                    <li>
                      <a href="#">
                        <div class="switch">
                          <label>
                            All
                            <input type="checkbox" ref="featuresCheckbox" @change="setDisplayableFeatures()">
                            <span class="lever"></span>
                            Only with broken links
                          </label>
                        </div>
                      </a>
                    </li>
                    <li><div class="divider"></div>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </li>
          <feature-item  v-for="feature in displayFeatures"
            v-bind:feature="feature"
            v-bind:key="feature.name"
            v-on:click.native="getGraphForFeature(feature)">
          </feature-item>
        </ul>
      </div>
    </header>

    <main class="hide">
      <div class="row valign-wrapper">
        <div class="col s2">
          <div class="input-field">
            <input id="input_text" type="text" data-length="10" placeholder="" ref="filter" v-model="filterKey" v-on:keyup="filter">
            <label>Filter by key</label>
          </div>
        </div>
        <div class="col s2">
          <div class="input-field">
            <select v-model="featuresPerPage" @change="getGraph(0)">
              <option v-for="option in featuresPerPageOptions" v-bind:value="option.value">{{ option.text }}</option>
            </select>
            <label>Features per page</label>
          </div>
        </div>
        <div class="col s6">
          <p class="right" ref="description"></p>
        </div>
        <div class="col s1">
          <p class="right" ref="pagination"></p>
        </div>
        <div class="col s1">
          <div>
            <a class="waves-effect waves-light btn btn-small red lighten-2" ref="paginationPrev" v-on:click="prevPage" disabled>
              <i class="material-icons">chevron_left</i>
            </a>
            <a class="waves-effect waves-light btn btn-small red lighten-2" ref="paginationNext" v-on:click="nextPage" disabled>
              <i class="material-icons">chevron_right</i>
            </a>
          </div>
        </div>
      </div>

          <!--          Graph area-->
      <div class="row graph-area">
        <div class="col s12 valign-wrapper" id="graph" ref="graph"></div>
        <div class="collection" id="associations-select">
          <a href="#!" class="collection-item active" v-on:click="clickAllAssociations">
            <i v-if="allAssociationsSelected" class="material-icons left">check_box</i>
            <i v-else="allAssociationsSelected" class="material-icons left">check_box_outline_blank</i>
            Associations
          </a>
          <associations-dropdown v-for="association in associations"
            v-bind:association="association"
            v-bind:key="association.name"
            v-on:click-association="clickAssociation">
          </associations-dropdown>
        </div>
      </div>
    </main>

    <!--JavaScript at end of body for optimized loading-->
    <script src="/js/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/vis-network.min.js"></script>
    <script src="/js/graph.js" type="text/javascript"></script>
    <script src="/js/app.js" type="text/javascript"></script>
    <script src="/js/models.js" type="text/javascript"></script>

  </body>
</html>
