html, body/*, and all other map parent selectors*/ {
height: 100%;
width: 100%;
}

#graph {
    border: 1px solid lightgray;
    height: 100%;
    width: 100%;
}

.sidenav {
    width: 380px;
}

.graph-area {
    height: 100%;
}

.graph.col {
    padding-left: 0px;
}

nav .brand-logo {
    font-size: 1.5em;
    padding-left: 15px;
}

.row {
    margin-bottom: 0px;
}

.sidenav li > a {
    font-size: 12px;
}

.sidenav li > a > i.material-icons{
    margin: 0 10px 0 0;
}

.sidenav {
    top: 64px;
}

.sidenav .divider {
    margin: 0px;
}

#report-icon {
    color: #ee6e73;
}

#ok-icon {
    color: #26a69a;
}


.progress {
    margin: 0px;
}

#progress-text {
    color: white;
    background-color: cadetblue;
}

table#node-tooltip > td {
    padding: 0px;
}

#dropdown-aixm-datasets {
    min-width: 400px;
}

.input-field {
    margin-bottom: 0px;
}

.graph-loader {
    margin-left: 45%;
}

#associations-select {
    position: absolute;
    left: 400px;
}

#associations-select li{
    padding-left: 20px;
}

.vis-active:focus {
    outline: none;
}
