html, body/*, and all other map parent selectors*/ {
  height: 100%;
  width: 100%;
}


#graph {
   border: 1px solid lightgray;
   height: 100%;
   width: 100%;
}

.sidenav {
    width: 380px;
}

main {
  padding-left: 380px;
}
main {
  height: 87%;
}

.graph-area {
    height: 100%;
}

.graph.col {
    padding-left: 0px;
}

.sidenav li>a {
    font-size: 12px;
}

nav .brand-logo {
    font-size: 1.5em;
    padding-left: 15px;
}

.row {
    margin-bottom: 0px;
}

.sidenav {
    top: 64px;
}

#report-icon {
    color: #ee6e73;
}

#ok-icon {
    color: #26a69a;
}

.sidenav .divider {
    margin: 0px;
}

.progress {
    margin: 0px;
}

#progress-text {
    color: white;
    background-color: cadetblue;
}

table#node-tooltip > td {
    padding: 0px;
}

#dropdown-aixm-datasets {
    min-width: 400px;
}

.input-field {
    margin-bottom: 0px;
}

.graph-loader {
    margin-left: 45%;
}

#associations-select {
    position: absolute;
    left: 400px;
}

#associations-select li{
    //padding-left: 20px;
}
